*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    /* display: flex;
    justify-content: center; */
    color: grey ;
    font-family: serif;
    overflow: hidden;
}
.container{
    height:25.4em;
    background-image: url("assets/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.contai{
    background-image: url("assets/hero-image.png");
    background-repeat: no-repeat;
    background-size: 61% 93%;
    background-position: right top 30px;
    background-attachment: fixed;   
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar .logo{
        padding-top: 0.7em;
}
.nav_content{
    padding-top: 2em;
    font-size: 0.9em;
    font-weight: bold;
    margin-left:-2.4em;
}
.nav_content a{
    text-decoration: none;
    padding: 0.5em;
    color: grey;
}
.search{
display: flex;
padding-top: 1.3em;
}
.search .image{
 margin-top: 0.3em; 
}
.search .button{
padding-left: 0.5em;
}
.search button{
 background-color: #ed017f;
 color:white;
 font-size:0.7em;
 border: none;
 padding:0.7em 1em;
 border-radius: 0.4em;
}

.car{
   position: absolute;
   left:45.1%;
   top:-1em;
}
.car button{
    margin-top: 7em;
    padding:0.4em 1.2em;
   font-family: serif;
   font-weight: bold;
   color: grey;
   border:none;
   background-color:#fff;
   border-radius: 1.8em;
  display: flex;
  box-shadow: 1px 1px 20px grey;
}
.car button .car_con{
    margin:0.7em 0 0 1em;
}


.chase{
    font-size:3.8em;
    color: black;
    margin:1.8em 0 0 1.5em;
    font-weight: 600;
}
.content{
    margin:1em 0 0 4.5em;
    line-height: 1.1em;
    font-size: 1.3em;
}


.buttonss{
    display : flex;
    margin: 1em 0 0 5.8em;
  }

.calc{
    margin-left: 1em;
}
.apply button {
    background-color: #ed017f;
 color:white;
 font-size:0.8em;
 border: none;
 /* font-weight: bold; */
 padding:0.7em 1.38em;
 border-radius: 0.4em;
 font-family: serif;
}
.calc button{
    background-color: white;
 color:#ed017f;
 font-size:0.8em;
 /* font-weight: bold; */
 border: 1px solid #ed017f;
 padding:0.7em 1.38em;
 font-family: serif;
 border-radius: 0.4em;
}

.icons{
    margin:4em 0 0 5.7em;
   display: flex;
justify-content: space-around;
width:15em;
}
.num{
    font-size: 1.2em;
}
.numm{
font-size: 1.2em;
font-weight: bold;
}
